<div
    class="block"
    data-name="<%= festival.display_name %>"
    data-city="<%= festival.city_name %>"
    data-date="<%= festival.start_date %>"
    data-playlist="<%= festival.playlist_url %>">
  <img src="<%= festival.icon %>">
</div>
