<div class="block">
	<%if festival.fest_icon == nil%>
  	<div class="image"><img class="festival-icon"  src="<%= festival.icon %>"></div>
  	<%else%>
  	<div class="image"><img class="festival-icon"  src="<%= festival.fest_icon %>"></div>
  	<%end%>
  	<% puts "hi" %>
  <div class="info">
    <div class="name"><%= festival.display_name %></div>
    <div class="city"><%= festival.city_name %></div>
    <div class="date"><%= festival.start_date %></div>
    <div class="playlist"><embed class="playlist-object" src="<%= festival.playlist_url %>"></div>
  </div>
</div>
