<%= render partial: "header" %>

<div id="festivals_box">
	
		<div id="each_festival"></div>

</div>
<div class="filters">
<span>Filter By:</span>
  <a href="../page1.html" class="date">Upcoming |</a>
  <a href="../page1.html" class="distance">Distance |</a>
  <a href="../page1.html" class="popularity">Most Popular |</a>
  <a href="../page1.html" class="random">Random Order</a>
</div>
  <a href="/" class="my_favs">Favorite List</a>
<div class="artists_module">
  <div class="fav_arists_box">
    <div id="content-placeholder"></div>
  </div>
</div>
<div id="grid">
  <% @festivals.each do |festival| %>
    <div class="square">
    	<%= render partial: "festival", locals: { festival: festival } %>
    	<div class="favorite">
    		<span class="fav_text"><a class="favs" href="" data-val="<%=festival.display_name%>">Add to Favorite</a></span>
        <span class="favs">
        <%= link_to 'Explore',[festival] %>
      </span>
      <span class="favs">
        <a href="http://seatgeek.com/search?search=<%=festival.display_name%>" target="_blank">Tickets</a>
      </span>
    	</div>
	  </div>
  <% end %>
</div>
